// todo 弹窗
$dialog-header: #1387e1; // 头部
$dialog-main: #41629d; // 身体

// todo 表格
$table-header: #167fc1; // 表头、按钮背景
$table-main: #11335b; // 表body
$table-body: #0e4878; // 表body

//todo 输入框
$input-back: #304f87; // 背景
$input-color: #b0c9fe; // 背景

//todo 字体颜色
$font-white: #fff; // 白色

//todo 状态颜色
$status-normal: #67c23a;// 合格、正常
$status-abnormal: #f56c6c; // 不合格、不正常

//body 背景色
$body-back: #07162f